@keyframes spawnModal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.backgroung-modal-form {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    .modal-form {
        width: auto;
        height: auto;
        background: #FFFFFF;
        padding: 40px;
        display: flex;
        flex-direction: column;
        z-index: 100;
        animation-duration: 0.5s;
        animation-name: spawnModal;

        .modal-form__item {
            margin: 10px 0;
            padding: 0 10px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            
        }

        .modal-form__text {
            width: 350px;
            padding: 0 10px;
            font-size: 20px;
            line-height: 24px;
            font-family: Book Antiqua;
            font-size: 20px;
            line-height: 24px;
            color: #1A182F;

        }

        .modal-form__input {
            height: 56px;
            width: 410px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            border-radius: 4px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.48);

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &:hover {
                box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);

            }

            &:focus {
                outline: none;
                box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);

            }

        }

        .modal-form__input__error {
            background: #F9E3E3;
            box-shadow: 0px 4px 4px rgba(255, 196, 196, 0.04), 0px 4px 12px rgba(255, 196, 196, 0.24);

        }

        .modal-form__input__select{
            background: #CBECD9;
            box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.04), 0px 4px 40px rgba(39, 174, 96, 0.24);
            
        }
        
        .modal-form__input__text-error {
            font-family: Roboto;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #DB524E;
        }

        .modal-form__select {
            height: 56px;
            width: 410px;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.18), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.48);

            option {
                height: 56px;
                width: 410px;
                box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.18), 0px 4px 16px rgba(51, 51, 51, 0.08);
                border-radius: 4px;
                border: none;
                font-family: Roboto;
                font-size: 16px;
                line-height: 24px;
                color: rgba(17, 17, 17, 0.48);

                &:hover {
                    background-color: #DB524E;

                }
                
            }
            
            &:focus {
                outline: none;

            }

        }

        .modal-form__button {
            width: 410px;
            height: 56px;
            background: #1A182F;
            border-radius: 4px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;

            &:hover {
                background: rgba(33, 30, 61, 0.8);

            }

            &:active {
                background: #1E1950;

            }

            &:disabled { 
                opacity: 0.3; 
            }

        }

    }

}
