.benefits{
    min-width: 100%;
    background-image: url(./Background_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
.benefits__logo1{
    font-family: AnastasiaScriptC;
    font-size: 50px;
    line-height: 65px;
}
.benefits__logo2{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.13em;
}
.benefits__wrapper{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.benefits__wrapper-item{
    width: 30%;
    height: 100%;
}
.wrapper-item__image{
    width: 50%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper-item__image-mobility{
    background-image: url(./ICON\ MOBILITY.svg);
}
.wrapper-item__image-budget{
    background-image: url(./ICON\ BUDGET.svg);
}
.wrapper-item__image-operativenes{
    background-image: url(./ICON\ OPERATIVENESS.svg);
}
.wrapper-item__logo{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-top: 20px;
}
.wrapper-item__text{
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
}